@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');

* {
    text-decoration: none;
    list-style: none;
}


/* colors font */

a, h1, h3 {
    color: white;
}

h2, h5 {
    text-transform: uppercase;
}

/* colors bg */

header {
    background: #312929;
}

button {
    background: #BB7043;
}

/* flex */

ul, figure {
    display: flex;
}

/*****/

section:nth-of-type(2) img {
    width: 50%;
    height: 50vh;
}

/*****/

ul {
    justify-content: space-evenly;
}

.Hero {
    background: url(./Components/assets/img/hero.jpeg) center/cover no-repeat;
}

h1, h3{
    text-align: center;
    font-family: 'Tinos', serif;
}

